

.judul {
	text-align: center;
	font-family: sans-serif;
}
.bmi {
	margin: 100px auto;
	width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	background: lightblue;
	border-radius: 10px;
}
.label {
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
}
.input{
	padding: 10px;
	width: 380px;
	margin-bottom: 10px;
	border-radius: 10px;
	border:1px solid;
}

.btn {
	height: 40px;
	background-color: #4CAF50;
	border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
